@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
@import url('giftbox.css');
@import url('cake.css');
@import url('gifts.css');
@import url('interactions.css');
@import url('messages.css');
@import url('particles.css');

:root {
    --gift-box-open-time: 3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    transform: translate(-50%, -50%);
    font-family: 'Lavishly Yours', cursive;
}

html, body {
    width: 100vw;
    height: 100vh;
    transform: none;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 100%, 40%);
}

.container {
    width: 40rem;
    height: 40rem;
    position: relative;
    transform: none;
}

